html {
  box-sizing: border-box;
}

:root {
  --color-primery: #212121;
  --color-secondary: #757575;
  --color-accent: #2196f3;
  --color-white-bgc: #ffffff;
  --color-around-black-bgc: #2f303a;
  --color-around-white-bgc: #f5f5f5;
  --color-gray-bgc: #f5f4fa;
  --color-additional: #ffffff;
  --color-additional-second: rgba(255, 255, 255, 0.6);
  --color-button-accent: #188ce8;
  --color-icons: #afb1b8;
  --color-bgc-footer-icons: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-white-bgc);
  color: var(--color-primery);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 94px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Стилізація index.html */

/* Header */

.portfolio.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-top: 24px;
  padding-bottom: 25px;
  gap: 93px;
}

.nav.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.nav-contact {
  display: flex;
  gap: 40px;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo {
  color: var(--color-accent);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-sec-h {
  color: var(--color-primery);
}

.nav.list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link {
  position: relative;
  padding: 28px 0;
}

.nav-link.current {
  color: var(--color-accent);
  text-decoration: none;
}

.nav-link.current::after {
  content: '';

  position: absolute;
  bottom: -4px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.nav-link {
  color: var(--color-primery);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header {
  color: var(--color-secondary);
  text-decoration: none;

  display: flex;
  align-items: center;
  fill: var(--color-secondary);
  gap: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-header:hover,
.contact-header:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}

/* Section "Ефективні рішення для вашого бізнесу" */

.hero {
  background-color: var(--color-around-black-bgc);
  padding: 200px 0;

  max-width: 1600px;
}

/* Overlay */

.overlay {
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/people.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--color-additional);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button {
  color: var(--color-additional);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 10px 24px;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero {
  display: flex;
  justify-content: center;
}

.button:hover,
.button:focus {
  background-color: var(--color-button-accent);
}

/* Section "Наші переваги" */

.features-caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  width: 270px;
  border-radius: 4px;

  margin-bottom: 10px;
}

.features-sub {
  color: var(--color-secondary);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.sub-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Section "Чим ми займаємося" */

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.work {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  margin-bottom: 94px;
}

/* .work-card {
  position: relative;
} */

.position {
  position: relative;
}

.work-cards {
  position: absolute;
  bottom: 3px;

  left: 0;
  min-width: 370px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  color: var(--color-additional);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.work-card img {
  display: block;
}

/* Section "Наша команда" */

.staff {
  background-color: var(--color-gray-bgc);
}

.staff-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.staff-cards {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.staff-sec img {
  display: block;
}

.staff-text {
  padding: 30px 70px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff-text:nth-child(2) {
  padding: 30px 32px 30px 32px;
}

.staff-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.staff-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}

.staff-sub {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.fuatures-icons {
  width: 270px;
  height: 120px;
  background-color: var(--color-gray-bgc);
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-items {
  width: 44px;
  height: 44px;
}

.social-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-additional);
  fill: var(--color-icons);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--color-accent);
  fill: var(--color-additional);
}

/* Секція "Постійні клієнти" */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;

  align-items: center;
  gap: 30px;
}

.clients-items {
  width: 170px;
  height: 92px;
  flex-basis: calc((100%-150px) / 6);
  align-items: center;
  justify-content: center;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-additional);
  fill: var(--color-icons);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--color-accent);
  border-color: var(--color-accent);
}

/* Footer */

.footer {
  background-color: var(--color-around-black-bgc);
}

.logo-sec-f {
  color: var(--color-additional);
}

.logo-space {
  padding: 60px 0;
  width: 231px;
}

.address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  margin-top: 28px;
}

.footer-link {
  margin-bottom: 12px;
}

.footer-address {
  color: var(--color-additional);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact {
  color: var(--color-additional-second);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--color-accent);
}

.our-socials {
  margin-left: 70px;
}

.flex-container-footer {
  display: flex;
  align-items: baseline;
}

.our-socials-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-additional);

  margin-bottom: 20px;
}

.social-links-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bgc-footer-icons);
  fill: var(--color-additional);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover,
.social-links-footer:focus {
  background-color: var(--color-accent);
  fill: var(--color-additional);
}

.subscribes {
  margin-left: auto;
}

.input-subscribes {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  padding: 15px 0 15px 16px;
}

.form-subscribes {
  display: flex;
  justify-content: center;
}

.button-sub {
  position: relative;
  color: var(--color-additional);
  background-color: var(--color-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  width: 200px;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  border: none;
  margin-left: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-sub:hover,
.button-sub:focus {
  background-color: var(--color-button-accent);
}

.sub-sent {
  position: absolute;
  fill: var(--color-additional);
  top: 25%;
  right: 22px;
  width: 24px;
  height: 24px;
}

/* .button-sub-cont {
  display: flex;
  justify-content: center;
} */

/* Портфоліо */

/* Кнопки */

.portfolio-button {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
  gap: 8px;
}

.main-button {
  color: var(--color-primery);
  background-color: var(--color-gray-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  color: var(--color-white-bgc);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* img */

.main-title {
  color: var(--color-primery);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.main-sub {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-card {
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.portfolio-card img {
  display: block;
}

.card-image-container {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 294px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(33, 150, 243, 0.9);
  color: var(--color-additional);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  padding: 63px 24px;
}

.portfolio-card:hover .text-overlay,
.portfolio-card:focus .text-overlay {
  transform: translateY(0);
}

.container-portf-text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Modal */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow-y: auto; */

  background-color: var(--color-white-bgc);
  max-width: 528px;
  max-height: 581px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;

  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll; */
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 2px;
}

.closed:focus,
.closed:hover {
  fill: var(--color-accent);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-primery);

  margin-bottom: 12px;
}

.form-label {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-secondary);
  margin-bottom: 4px;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  padding: 0 12px 0 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--color-accent);
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--color-accent);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  margin-bottom: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 16px;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
}

.checkbox {
  margin-bottom: 30px;
  display: flex;
  margin-left: 12px;
}

.checkbox-title {
  position: relative;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  padding-left: 24px;
}

.checkbox-link {
  color: var(--color-accent);
}

.checkbox-input {
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  fill: transparent;
  border: 2px solid black;
  border-radius: 2px;

  margin: 4px 7px 0 0;
}

.checkbox-input:checked + .checkbox-icon {
  fill: var(--color-additional);
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}
